annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.2
autocommand==2.2.2
certifi==2023.5.7
charset-normalizer==3.2.0
cheroot==10.0.0
CherryPy==18.8.0
dnspython==2.4.0
exceptiongroup==1.1.2
h11==0.14.0
httpcore==0.17.3
idna==3.4
inflect==7.0.0
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.8.0
jaraco.text==3.11.1
more-itertools==9.1.0
pip==23.1.2
portend==3.2.0
pydantic==2.0.3
pydantic_core==2.3.0
pymongo==4.4.1
pytz==2023.3
redis==4.6.0
requests==2.31.0
setuptools==68.0.0